<% @pool.photos.each do |photo| %>
 <%= cl_image_tag photo.path, width: 771, height: 320, crop: :fill %>
<% end %>

<p>
  Latitude :
  <%= @pool_coordinates[:lat] %>
</p>

<p>
  Longitude :
  <%= @pool_coordinates[:lng] %>
</p>

<%= link_to "Confirm my book", reservations_path, class: "btn btn-warning btn-xl" %>

<% content_for(:after_js) do %>
  <script type="text/javascript">

  </script>
<% end %>
