.card-owner {
  background-color: #F4F4F8;
  height: 175px;
  background-size: cover !important;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
}

.card-owner p {
  color: #636564;
}

.header {
  color: white;
  background-size: cover !important;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  height: 40px;
  background-color: #FED766;
}

.button a {
  margin: 0 10px 10px 10px;
}

.space {
  margin-bottom: 25px;
}
