

<div class="container">
  <div class="row">
      <div class='col-md-3'>
          <div class="form-group">
            <label class="sr-only" for="city"></label>
            <input type="text" class="form-control" id="city" placeholder="Enter city">
          </div>
      </div>
      <div class='col-md-3'>
        <div class="form-group">
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" />
          </div>
        </div>
      </div>
      <div class='col-md-3'>
        <div class="form-group">
          <label class="sr-only" for="capacity"></label>
          <input type="text" class="form-control" id="capacity" placeholder="Capacity">
        </div>
      </div>
      <div class='col-md-3'>
        <button type="submit" class="btn btn-danger btn-block">Submit</button>
        <%#= f.button :submit, "Submit", class: "btn btn-danger" %>
      </div>
   </div>
</div>





