
  <div class="container">
    <div class="row">
      <% @pools.each do |pool| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('https://static.pexels.com/photos/32870/pexels-photo.jpg');">
            <div class="card-description">
              <h2><%= link_to "Amazing Pool", pool_path(@pools) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
