<h1> Reservation's index </h1>

<% current_user.reservations.each do |reservation| %>
  <% reservation.pool.photo #TODO = ajouter .first? %> <% reservation.pool.description %>
  from <% reservation.date_begin %> to <%reservation.end_date%>
  <%= link_to 'Accept', reservation_path %>
  <%= link_to 'Deny', reservation_path %>
<% end %>
